
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600;700&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap');



/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {    
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
       
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Jost', sans-serif;
    color: var(--clr-pure-black);
    background-color: #f3f3f3;
}
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
}
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-size: 1rem;
    line-height: 1.5;
}

:root{
    --clr-yellow: #fbffa7;
    --clr-red: #ff764d;
    --clr-sky: #b1c5ff;
    --clr-purple: #d5b3ff;
    --clr-lime: #b6ffc0;
    --clr-blue: #0000ff;
    --clr-gray-light: #eeeeee;
    --clr-pure-white: #ffffff;
    --clr-pure-black: #000000;
}


nav, .container{
  background: var(--clr-pure-white);
}

/* --- primary Nav ---*/
.primary-nav{
  position: relative;
  padding: 1.4rem 1.2rem;
}

.secondary-nav{
  padding: 1.05rem 1.2rem;
}

.primary-nav{
  border-bottom: 2px solid var(--clr-gray-light);
  position: relative;
  flex-direction: column;
  gap: 2rem;
}

.secondary-nav{
  transition: all 0.5s ease;
}

.main-site-logo{
  position: absolute;
  left: auto;
  top: auto;
  display: block;
  width: 3.75em;
  height: 1.75em;
}

.primary-nav-left{
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* --- hide mobile menu toggle on desktop --- */
.menu-toggle{
  display: none;
  background: none; 
  font-weight: 500; 
  font-size: 1.1rem;
}

.nav-link-list{
  display: flex;
  align-items: center;
  gap: 1.4rem;
  width: 100%;
}

.main-link-list{  
  padding-left:  5.5rem;
}

.nav-link-list .try-live{
  margin-left: auto;
  margin-right: 0;
}


.nav-link-list-item a, .collapsible-toggle-btn{
  color: var(--clr-pure-black);
  font-size: 1.2rem;
}

.primary-nav .nav-link-list-item a{
  font-weight: 500;
}

.nav-link-list-item a.small-text, .small-text{
  font-size: 0.875rem;
  font-weight: 400;
}

.nav-link-list-item.login a{
  font-weight: 500;
  font-size: 0.95rem;
}

/* .nav-link-list-item.try-live a{

} */

/* --- blue highlight cta links --- */
.nav-link-list-item .cta-link, .cta-link{
  color: var(--clr-blue)
}

/* --- color active Links red --- */
.nav-link-list-item .active{
  color: var(--clr-red);
  position: relative;
}

.secondary-nav .nav-link-list-item a{
  font-weight: 500;
  font-size: 0.78rem;
}

/* --- General Styles for collapsible nav content --- */
.collapsible-content-container{
  display: none;
  margin-top: 3rem;
}

.open-collapsible{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.collapsible-content-container > div .collapsible-item-links{
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  overflow-x:auto;
  min-width: 100%;    
}

.collapsible-content-item h3{
  font-size: 1.8rem;
  font-weight: 500;
}

.collapsible-content-item h4{
  font-weight: 500;
  font-size: 1.15rem;
}

.collapsible-content-container > div .collapsible-item-links .small-text{
  font-weight: 400;
  font-size: 1.12rem;
}

/* --- collapsible toggle button styles --- */
.collapsible-toggle-btn{
  background: none;
}

/* --- collapsible toggle icons button --- */
.bx-plus, .bx-minus{
  font-size: 1.2rem;
  position: absolute;
  top: 6px;
}


@media  screen and (max-width: 1279px) {
  .nav-link-list-item a,
  .collapsible-toggle-btn,
  .bx-plus, .bx-minus{
    font-size: 1rem;
  }

  .bx-plus, .bx-minus{
    top: 4px;
  }

  .collapsible-content-item h3{
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .collapsible-content-item h4{
    font-weight: 500;
    font-size: 1rem;
  }

  .collapsible-content-container > div .collapsible-item-links .small-text{
    font-weight: 400;
    font-size: 0.875rem;
  }

  /* .main-link-list{
    padding-top: 0.21rem;
  } */

  .nav-link-list-item.try-live a,
  .nav-link-list-item.login a{
    font-weight: 500;
    font-size: 0.85rem;
  }
}


/* --- media queries for mobile and tablet --- */
@media screen and (max-width: 1024px){

  .primary-nav{
    padding: 1.05rem 1.2rem;
  }

  .secondary-nav{
    width: 100%;
  }

  .main-site-logo{
    display: inline-block;
    position: relative;
    z-index: 15;
  }

  .white-logo path{
    stroke: #eee;
  }

  .menu-toggle{
    position: relative;
    display: inline-block;
    z-index: 5;
    color: var(--clr-pure-black);
    cursor: pointer;
  }

  /* --- make toggle button color white when menu is visible --- */
  .white-menu-toggle{
    color: white;
  }

  .bx-caret-down, .bx-caret-up{
    font-size: 1rem;
    margin-left: 0.3rem;
  }

  /* --- main mobile and tablet nav hidden by default --- */
  .main-nav-content{
    background: var(--clr-blue);
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    left: 0;
    z-index: 2;
    padding-left: 1.01rem;
    transition: all 0.3s ease;
  }

  .visible-nav{
    display: block;
    transform: translateY(0);
    transition: all 0.3s ease;
  }

  
  .main-link-list{
    margin: 0 0 2rem 0;
    padding-left:  0;
    padding-top: 4.5rem;
  }

  .primary-nav-link-list{
    top: 0;
    left: 0;
    flex-direction: column;
    z-index: 10;
    align-items: flex-start;  
    gap: 1.3rem
  }

  
  /* --- Change link color to white for all elements --- */
  .primary-nav .nav-link-list-item a, .nav-link-list-item.try-live a{
    color: var(--clr-pure-white);
    font-size: 1.2rem;
  }

  .primary-nav p, h3, h4{
    color: var(--clr-pure-white);
  }

  .nav-link-list .try-live{
    margin-left: 0;    
  }

  .nav-link-list-item.try-live a.small-text{
    color: var(--clr-pure-white);
    font-size: 1.2rem;
    font-weight: 500;
  }

  .nav-link-list-item a.small-text, .small-text{
    font-size: 0.875rem;
    font-weight: 400;
  }

  /* --- collapsible content styles --- */

  /* --- Hide the collapsible toggle --- */
  .collapsible-toggle{
    display: none;
  }

  .collapsible-content-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .collapsible-content-container, .collapsible-content-item{
    overflow: hidden;   
  }

  .collapsible-content-item h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .collapsible-item-links h4{
    font-size: .875rem;
    font-weight: 500;
    font-weight: 400;
  }

  .collapsible-content-container > div:first-child .collapsible-item-links{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .collapsible-content-container > div:last-child .collapsible-item-links .small-text{
    font-weight: 300;
  }

  .collapsible-content-container > div:last-child .collapsible-item-links{
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    overflow-x:auto;
    min-width: 100%;    
  }

  .collapsible-item-links::-webkit-scrollbar {
    width: 10px;
  }

  .collapsible-item-links::-webkit-scrollbar-thumb {
    background: #00000070;
  }

  /* --- make flex items scrollable --- */
  .collapsible-content-container > div:last-child .collapsible-item-links li p{
    min-width: 13.5rem;
  }

  .primary-nav .nav-link-list-item .active{
    color: var(--clr-red);
    position: relative;
  }
  
}